.langLink {
    display: none;
    text-align: center;
}
[lang="en"] .langLink[lang="ru"],
[lang="ru"] .langLink[lang="en"] {
    display: inline-block;
}

.langLinks {
    padding-left: 12px;
    margin-top: 1em;
    font-size: 120%;
    text-align: center;
}